# Format: <user>:<bcrypt-hash>
# Generate: htpasswd -nbB ops 'change-me'
# Salin sebagai users.htpasswd dan kelola lewat secret manager.
ops:$2y$05$exampleexampleexampleexampleexampleexampleexampleexampleexample
